<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="test3" method="post" class="form" id="form">
			<input name="_method" type="hidden" value="put" />
			<div id="header">管理员登录</div>
    		<div class="form-item">
                <span>用户名：</span>
                <input type="text" name="name" class="name" placeholder="您的账户名和登录名">
            </div>
            <div class="error-pro error-name">
                <span></span>
            </div>
    		<div class="form-item"><span>密&nbsp;&nbsp;&nbsp;&nbsp;码：</span><input type="password" name="password" class="password" placeholder="您的登录密码">
            </div>
    		<div class="form-item form-submit" ><input type="submit" value="登    录" class="submit" ></div>
    	</form>
</body>
</html>